<?php
/**
 * database.php
 * just copy the content below to your project's config/config.php
 * and config it correctly
 */

$config['database']['plugin'] = 'SmallMVCModel'; // plugin for db access
$config['database']['type'] = 'mysql';      // connection type
$config['database']['host'] = 'localhost';  // db hostname
$config['database']['name'] = 'dbname';     // db name
$config['database']['user'] = 'dbuser';     // db username
$config['database']['pass'] = 'dbpass';     // db password
$config['database']['persistent'] = false;  // db connection persistence?
$config['database']['charset'] = $config['charset'];  // connection charset

?>
